h1= t('ui.account_transactions.new_title')
= account_title account

em= t('ui.account_transactions.creating_direction', direction: account_transaction_form.direction)

= render 'form', account_transaction_form: account_transaction_form, opposite_accounts_collection: opposite_accounts_collection

.mt-4
  = render 'example_transactions', example_transactions: example_transactions, account: account
