h1 Зачисление на счет
= account_title account

em= "Создаем #{account_transaction_form.direction} транзакцию"

= render 'form', account_transaction_form: account_transaction_form, opposite_accounts_collection: opposite_accounts_collection

.mt-4
  = render 'example_transactions', example_transactions: example_transactions, account: account
