@import "tailwindcss";

@layer base {
  @keyframes slide-to-right {
    from { transform: translateX(0); opacity: 1; }
    to { transform: translateX(100%); opacity: 0; }
  }

  html[data-turbo-visit-direction="forward"]::view-transition-old(sidebar):only-child {
    animation: slide-to-right 0.5s ease-out;
  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 280px;
    right: 0;
    height: 64px;
    line-height: 60px;
  }

  #content {
    margin-top: 80px;
  }
}
