title= application_title
meta charset="utf-8"
meta content="IE=Edge" http-equiv="X-UA-Compatible"
meta content="width=device-width, initial-scale=1.0" name="viewport"
meta content=Time.now.iso8601 name="server-time"
meta content=AppVersion.to_s name="app-version"
meta name="apple-mobile-web-app-capable" content="yes"
meta name="mobile-web-app-capable" content="yes"
meta name="view-transition" content="same-origin"

= content_for :head

// To prevent the page from flickering as it scrolls from the top to the desired position, add the no-preview cache directive in the page's head:
// Useful for board page
meta name="turbolinks-cache-control" content="no-preview"
= turbo_refreshes_with method: :morph, scroll: :preserve

meta name='appear' data-appearing-on=current_url

= csrf_meta_tags
= csp_meta_tag

link rel="icon" href="/icon.png" type="image/png"
link rel="icon" href="/icon.svg" type="image/svg+xml"
link rel="apple-touch-icon" href="/icon.png"

= javascript_importmap_tags

= stylesheet_link_tag "application", "data-turbo-track": "reload", media: 'all'
= javascript_include_tag "https://code.jquery.com/jquery-3.3.1.min.js"
= javascript_include_tag '//unpkg.com/@ungap/custom-elements'
= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css'
= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css'

- if params[:bugsnag]
  = render 'bugsnag'
