nav.flex.flex-wrap.gap-1.mb-4
  = link_to "#{t('ui.total')} (#{accounts_count})", at_date_accounts_path(philtre: { category_id: nil }), class: category_pill_class(current_category.try(:id).blank?)
  - categories.each do |cat|
    = link_to "#{cat.name} (#{accounts_count(cat)})", at_date_accounts_path(philtre: { category_id: cat.id }), class: category_pill_class(current_category.try(:id) == cat.id)
